$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

ul { padding: 0; margin: 0; }

ul.year-range li { display: inline-block; }

ul.category-checkboxes li {
  display: block;
  font-size: 10px;
}

.header { 
  background: #ccc; 
  margin-bottom: 20px;
  .container {
    margin: 15px auto;
    ul li { display: inline-block; }
  }
}

.spending-container {
  @extend .container;
  max-width: 1400px;
}

.year-pagination {
  margin-bottom: 15px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 2px 4px;
      margin-bottom: 5px;
      margin-right: 5px;
      background: #ddd;
      cursor: pointer;
    }
  }
}

.active { background: #FFFA79 !important; }
.empty  { background: #FFF9F9; }

.date-grid {

  td.days-of-month, th.months {
    text-align: right;
    font-weight: bold;
  }

  td.days-of-month, th.months, td.day {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  td.day,
  td.days-of-month { width: 50px; }

  td.day {
    cursor: pointer;
    font-size: 12px;
    padding-left: 0;
    text-align: right;
    &:hover { background: #ddd; }
  }
}

// Create conditional formatting
@for $i from 1 through 10 {
  .day-conditional-#{$i} { background: rgba(100,255,100,$i/10); }
}

// Create conditional formatting
@for $i from 1 through 12 {
  .month-conditional-#{$i} { background: rgba(255,150,150,$i/12); }
}

.csv-input { display: inline-block; }
