$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.header { margin-top: 50px; }

.date-grid {
  td.days-of-month, th.months {
    text-align: right;
    font-weight: bold;
  }
  td.day{
    cursor: pointer;
    font-size: 12px;
    padding-left: 0;
    text-align: right;
    width: 50px;
  }
  td.day.active{
    background: #f0ffe2;
  }
  td:hover{
    background: #ccc;
  }
}
