$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

ul { padding: 0; margin: 0; }
li { list-style: none; }

ul.year-range li { display: inline-block; }

ul.category-checkboxes li {
  display: block;
  font-size: 12px;
  label {
    cursor: pointer;
    font-weight: normal;
    width: 100%;
    padding: 2px 4px;
    background: #ddd;
  }
  input[type=checkbox] {
    display: none; 
    &:checked + label {
      background: #BDFFB7;
    }
  }
}

.header { 
  background: #ccc; 
  margin-bottom: 20px;
  .container {
    margin: 15px auto;
    ul li { display: inline-block; }
  }
}

.spending-container {
  max-width: 1400px;
  margin: 3rem auto 0;
}

.year-pagination {
  margin-bottom: 15px;

  ul {
    padding: 0;
    margin: 0;
    display: inline-block;

    li {
      padding: 2px 4px;
      margin-bottom: 5px;
      margin-right: 5px;
      cursor: pointer;
      box-shadow: 0 0 0 1px #ddd;
      border-radius: 0.3rem;
    }
  }
}

.active { background: #FFFA79 !important; }
.empty  { background: #FFF9F9; }
.search-description {
  ul li {
    position: relative;
    cursor: pointer;
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 1.2rem;
    display: table;
    transition: all 0.1s linear;
    & + li { margin-top: 5px; }
    &:hover {
      background: #f1a7a7;
    }
  }
}

.date-grid {

  .select-data {
    label {
      cursor: pointer;
      font-weight: normal;
      padding: 2px 4px;
      background: #ddd;
    }
    input[type=radio] {
      display: none; 
      &:checked + label.spending {
        background: rgb(255,150,150);
      }
      &:checked + label.balances {
        background: #BDFFB7;
      }
    }

  }

  td.days-of-month, th.months {
    text-align: right;
    font-weight: bold;
  }

  td.days-of-month, th.months, td.day {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  td.day,
  td.days-of-month { width: 50px; }
  td.day {
    cursor: pointer;
    border: none;
    font-size: 12px;
    padding-left: 0;
    text-align: right;
    &:hover { box-shadow: inset 0 0 0px 1.5px; }
  }
  td.month-total { border-top: 1px solid #ddd; }
}

// Create conditional formatting
$day-steps: 10;
@for $i from 1 through $day-steps {
  .day-conditional-#{$i} { background: rgba(255,150,150,$i/$day-steps); }
  .balances.day-conditional-#{$i} { background: rgba(100,255,100,$i/$day-steps); }
}

// Create conditional formatting
$month-steps: 12;
@for $i from 1 through $month-steps {
  .month-conditional-#{$i} { background: rgba(255,150,150,$i/$month-steps); }
  .balances.month-conditional-#{$i} { background: rgba(100,255,100,$i/$month-steps); }
}

.csv-input { display: inline-block; }
