.container{
  padding-bottom: 50px;

  .top-sect{
    position: relative;
    background: lightblue;
    height: 300px;

    .input-fields{
      position: absolute;
      width: 370px;
      top: 0;
      left: 0;
      padding: 10px;
      border: 1px solid;

      .desc-filter{
        label{
          width: 80px;
        }
        input{
          width: 250px;

          &#clear-all{
            margin-left: 84px;
          }

        }
      }

      #date-submit{
        text-align: center;
        input{
          margin-right: 30px;
        }
      }
    }

  }

  .all-records{
    text-align: center;

    a{
      cursor: pointer;
    }

    #filter-count{
      text-align: center;
      font-size: 24px;
    }

    .item-header{
      text-align: left;
    }

    .solo-rec{
      text-align: left;
      padding: 5px 0;
      overflow: hidden;

      &:nth-child(even){
        background: #fff;
      }

      &:nth-child(odd){
        background: #f0ffe2;
      }

      &:hover{
        background: #ccc;
      }
    }
  }
}
