.top-fields {
  padding: 20px 0; }

.paginate {
  text-align: center; }

.chart {
  height: 300px;
  border: 1px solid;
  overflow-y: scroll; }
  .chart > div {
    background: #7da1ff;
    border: 1px solid #495e95; }

.records {
  margin-bottom: 100px; }

.solo-record {
  text-align: left;
  padding: 5px 0;
  overflow: hidden; }
  .solo-record:nth-child(even) {
    background: #fff; }
  .solo-record:nth-child(odd) {
    background: #f0ffe2; }
  .solo-record:hover {
    background: #ccc; }

input[type=submit] {
  margin: 5px 0; }

label {
  width: 90px; }
