.container {
  padding-bottom: 50px; }
  .container .top-sect {
    position: relative;
    background: lightblue;
    height: 300px; }
    .container .top-sect .input-fields {
      position: absolute;
      width: 370px;
      top: 0;
      left: 0;
      padding: 10px;
      border: 1px solid; }
      .container .top-sect .input-fields .desc-filter label {
        width: 80px; }
      .container .top-sect .input-fields .desc-filter input {
        width: 250px; }
        .container .top-sect .input-fields .desc-filter input#clear-all {
          margin-left: 84px; }
      .container .top-sect .input-fields #date-submit {
        text-align: center; }
        .container .top-sect .input-fields #date-submit input {
          margin-right: 30px; }
  .container .all-records {
    text-align: center; }
    .container .all-records a {
      cursor: pointer; }
    .container .all-records #filter-count {
      text-align: center;
      font-size: 24px; }
    .container .all-records .item-header {
      text-align: left; }
    .container .all-records .solo-rec {
      text-align: left;
      padding: 5px 0;
      overflow: hidden; }
      .container .all-records .solo-rec:nth-child(even) {
        background: #fff; }
      .container .all-records .solo-rec:nth-child(odd) {
        background: #f0ffe2; }
      .container .all-records .solo-rec:hover {
        background: #ccc; }
