<div class='date-grid col-md-7'>

  <table class='table table-bordered table-condensed'>
    <thead>
      <th></th>
      <th class='months' ng-repeat='i in getNumber(12) track by $index'>{{$index+1}}</th>
    </thead>
    <tbody>
      <tr ng-repeat='i in getNumber(31) track by $index'>
        <td class='days-of-month'>{{$index+1}}</td>
        <td class='day' 
            ng-class='{"active": highlightActiveDay()}' 
            ng-click='showTransactions()' 
            ng-repeat='i in getNumber(12) track by $index'>${{allRecords[selectedYear][$index+1][$parent.$index+1].total || 0 | number:0 }}</td>
      </tr>
    </tbody>
  </table>

</div>

<div class='col-md-5'>

  <div class='row input-fields'>
    <div class='form-group'>
      <label>Description:</label>
      <input class='form-control' type='text' ng-model='searchRecords.description'>
    </div>

    <div class='form-group'>
      <label>Category:</label>
      <input class='form-control' type='text' ng-model='searchRecords.category'>
    </div>

    <div class='form-group'>
      <label>Year:</label>
      <select class='form-control' ng-model='selectedYear' ng-options='year as year for year in yearRange' ng-change='calculateYearTotals(selectedYear)'></select>
    </div>

    <div class='form-group'>
      <label>Min Price:</label>
      <input class='form-control' type='text' ng-model='priceStart'>
    </div>

    <div class='form-group'>
      <label>High Price:</label>
      <input class='form-control' type='text' ng-model='priceEnd'>
    </div>

    <div class='form-group'>
      <button class='btn btn-default' ng-click='datePriceRange()'>Filter Date/Price</button>
    </div>

    <ng-csv-import content='csv.content' header='csv.header' separator='csv.separator' result='csv.result'></ng-csv-import>
    <button class='btn btn-success' ng-click='importCSV()'>Complete Import</button>
  </div>

  <div class='row transaction-table'>
    <div class='col-md-12'>
      <p>Transactions on {{transactionDate}}/{{selectedYear}}</p>
      <table class='table table-hover table-striped table-condensed'>
        <thead>
          <th>Amount:</th>
          <th>Description:</th>
        </thead>
        <tbody>
          <tr ng-repeat='transaction in selectedDate.transactions'>
            <td class='col-md-2'>{{transaction.amount | currency}}</td>
            <td class='col-md-10'>{{transaction.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>