<div class='spending-container'>

  <!-- Category Select -->
  <div class='col-md-2'>
    <div class='row'>
      <h4>Categories</h4>
      <div class='form-group'>
        <button class='btn btn-default btn-xs' ng-click='toggleCategories(true)'>Select All</button>
        <button class='btn btn-default btn-xs' ng-click='toggleCategories(false)'>Select None</button>
      </div>

      <div class='form-group'>
        <ul class='category-checkboxes'>
          <li ng-repeat='category in categories' ng-if='category.name != "" && category.total > 500'>
            <input type='checkbox' id='category-{{category.name}}' ng-true-value='true' ng-false-value='false' ng-change='filterPrice()' ng-model='category.value'>
            <label for='category-{{category.name}}'>{{category.name}} <span class='pull-right'>{{category.total | currency:'$':0}}</span></label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END Category Select -->

  <!-- Spending Table Cells -->
  <div class='date-grid col-md-7'>

    <div class='row'>
      <div class='col-md-12 select-data'>
        <div class='form-group'>
          <input type='radio' ng-model='spendingType' ng-change='updateSpending()' value='spending' id='spending-data'>
          <label class='spending' for='spending-data'>Spending</label>

          <input type='radio' ng-model='spendingType' ng-change='updateBalances()' value='balances' id='balances-data'>
          <label class='balances' for='balances-data'>Balances</label>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class='year-pagination'>
          <ul class='year-range'>
            <li ng-repeat='year in yearRange' class='btn btn-default btn-xs' ng-class='{"active": selectedYear == year }' ng-click='selectYear()'>{{year}}</li>
          </ul>
          <button class='btn btn-xs btn-default' ng-click='nextYear(-1)' ng-disabled='yearPrevBtnDisabled'>Prev. Year</button>
          <button class='btn btn-xs btn-default' ng-click='nextYear(1)'  ng-disabled='yearNextBtnDisabled'>Next. Year</button>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <finance-table finance-type='spendingType' all-records='allRecords' transaction-date='transactionDate' show-transactions='showTransactions(month, day)'></finance-table>
      </div>
    </div>
  </div>
  <!-- END Spending Table Cells -->

  <!-- Search filter Inputs -->
  <div class='col-md-3'>
    <div class='row input-fields'>

      <div class='row form-group'>
        <div class='col-md-6'>
          <label>Min Price:</label>
          <input class='form-control' ng-change='filterPrice()' type='text' ng-model-options='{ debounce: 1000 }' ng-model='searchRecords.priceMin'>
        </div>
        <div class='col-md-6'>
          <label>High Price:</label>
          <input class='form-control' ng-change='filterPrice()' type='text' ng-model-options='{ debounce: 1000 }' ng-model='searchRecords.priceMax'>
        </div>
      </div>

      <div class='form-group'>
        <label>Keyword:</label>
        <input class='form-control' ng-change='addDescriptionFilter()' ng-model-options='{ debounce: 1000 }' type='text' ng-model='description'>
      </div>

      <div class='row form-group'>
        <div class='col-md-8'>
          <div class='search-description' ng-show='searchRecords.description.length'>
            <label>Searches</label>
            <ul>
              <li ng-repeat='description in searchRecords.description' ng-click='removeDescription()'>{{description}}</li>
            </ul>
          </div>
        </div>
        <div class='col-md-4'><button class='btn btn-xs btn-default pull-right' ng-click='clearFilters()'>Clear Filters</button></div>
      </div>

    </div>

    <div class='row transaction-table'>
      <h4>Date: {{transactionDate}}/{{selectedYear}}</h4>
      <table class='table table-hover table-striped table-condensed'>
        <thead>
          <th>Amount</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr ng-repeat='transaction in selectedDate.transactions | orderBy:"-amount"'>
            <td class='col-md-2'>{{transaction.amount | currency}}</td>
            <td class='col-md-10'>
              <ul>
                <li>{{transaction.description}}</li>
                <li class='pull-right'><small>{{transaction.category}}</small></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- END Search filter Inputs -->

</div>
